<input type="text" placeholder="Search" (keyup)="search_data($event)">

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Marks</th>
        <th>Status</th>
        <th>Delete</th>
    </thead>
    <tbody>
        <tr *ngFor="let student_detail of student_details">
            <td>{{student_detail?.id}}</td>
            <td>{{student_detail?.name}}</td>
            <td>{{student_detail?.age}}</td>
            <td>{{student_detail?.total}}</td>
            <td>{{student_detail?.status}}</td>
            <td (click)="detele_item(student_detail)"><mat-icon>delete</mat-icon></td>
        </tr>
    </tbody>
</table>